main {
  height: calc(100% - 60px);
}
.container {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}
.markdown-section {
  font-size: 0;
}
.markdown-textarea {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 0;
  font-size: 17px;
  outline: 0;
}
.ppt-section {
  padding: 0 60px;
  background-color: #f8f8f8;
}
.slide {
  position: relative;
  width: 100%;
  height: 0;
  line-height: 1.5;
  margin: 60px 0;
  padding-bottom: 56.26%;
  background-color: white;
  list-style-type: none;
}
.slide section {
  margin: 5%;
}
.slide ul,
.slide ol {
  margin-left: 4%;
}
.slide-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 40px;
  box-shadow: 0 3px 30px 0 rgba(93, 80, 106, 0.16);
}